In [1]:
from lxml import etree
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime

In [15]:
datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2024-05-19 13:21:16'

In [2]:
file_path = "data/dummy.xml"

tree = etree.parse(file_path)
root = tree.getroot()

print("root:", root.tag)

for e in root:
    print("-", e.tag, e.find("name").text)

pd.read_xml(file_path)

root: root
- person John
- person Alice
- dog doggo
- person Bob

    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2  doggo  300      dogcity
3    Bob   35      Chicago

In [3]:
file_path = "data/activity_14637519229.gpx"

tree = etree.parse(file_path)
root = tree.getroot()
namespace_uri = tree.getroot().nsmap.get(None)
ns = {"ns": namespace_uri}


print("root:", root.tag)
print("ns uri", namespace_uri)

metadata = tree.find(".//ns:metadata", namespaces=ns)

for e in metadata:
    print(e.tag)

root: {http://www.topografix.com/GPX/1/1}gpx
ns uri http://www.topografix.com/GPX/1/1
{http://www.topografix.com/GPX/1/1}link
{http://www.topografix.com/GPX/1/1}time

In [4]:
pd.read_xml(file_path)

       link                      time          name     type    trkseg
0  \n        2024-03-29T15:43:38.000Z          None     None      None
1      None                      None  Lund Running  running  \n